blank_issues_enabled: false
contact_links:
  - name: GitHub Discussions
    url: https://github.com/{{ GITHUB_USERNAME }}/{{ PKG }}/discussions
    about: Ask questions and discuss ideas with the community
  - name: Documentation
    url: https://{{ PKG }}.readthedocs.io
    about: Read the official documentation
